#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.59) url(./img/nuevospinner.gif) no-repeat center center;
    z-index: 10000;
}
.popover {
    color:black;
    /* background-color: dodgerblue;*/
    border-color: dodgerblue;
    text-align: center;
}
.popover.right>.arrow:after {
    border-right-color: dodgerblue;
}
.popover-content {
    color:black;
    text-align: justify;
    font-size: 9px;
}
.popover-heading{
    background-color: steelblue;
}
thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #b8daff;
    border-color: #7abaff;
    
}
.opacity {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1px;
}


@media (max-width:768px){
    .opacity{
        font-size:9px;
    }
    .card-header{
        font-size:9px !important;
    }
    input{
        font-size:8px !important;
    }
    button {
        font-size:8px;
    width: -webkit-fill-available;
    margin-bottom: 5px !important;

    }
    p{
        font-size:8px !important;
    }
    label{
        font-size:8px !important;
    }
    thead tr th { 
        position: relative;
        top: 0;
        font-size:8px;
        /*z-index: 10;*/
        background-color: #b8daff;
        border-color: #7abaff;
        
    }
    tbody{
            font-size:9px;
    }

}
@media (max-width:56em){
  
    button {

        width: -webkit-fill-available;
        margin-bottom: 5px !important;

    }
    tbody tr td{
        white-space:pre-line;
        font-size:8px;
    }
    thead tr th { 
        position: relative;
        top: 0;
        /*z-index: 10;*/
        background-color: #b8daff;
        border-color: #7abaff;
        
    }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-sm{
    width: 100%;
}